<template>
  <div class="map">
    <div id="map"></div>
    <div id="list"></div>
  </div>
</template>

<script>
import L from 'leaflet';
// import T from 'leaflet.markercluster'

export default {
  name: "Map",
  Data: {
    map: null,
    markers: []
  },
  mounted() {
    let sites = {
      "ESIEE": { "lat": 49.900212, "lon": 2.291976 },
      "UFR des Sciences": { "lat": 49.898747, "lon": 2.299508 },
      "Citadelle": { "lat": 49.904199, "lon": 2.298703 },
    };

    // Initialisation de la carte.
    let vm = this;

    vm = L.map('map').setView([50.4000, 2.7167], 8);

    // Charegement des Tuiles.
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia2FlbHp6IiwiYSI6ImNrb2Ezb2x2MTF2ZnUyeG15andxbG9pMDcifQ.oV4feeKhUSOaXz8BZmviYA', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      minZoom: 7,
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'your.mapbox.access.token'
    }).addTo(vm);

    // // Création d'un marker
    // let marker = L.marker([51.5, -0.09]).addTo(vm);
    // // Ajout d'une popup sur le marker
    // marker.bindPopup("Test");
    // let markerClusterGroup = T.MarkerClusterGroup()
    let marker;

    for (let site in sites) {
      marker = L.marker([sites[site].lat, sites[site].lon]).addTo(vm);
      marker.bindPopup("<p>"+site+"</p>");
      // markerClusterGroup.addLayer(marker)
    }

    // vm.addLayer(markerClusterGroup);
  }
}
</script>

<style lang="scss" scoped>
  #map {
    width: 100%;
    height: 400px;
    float: left;
  }
</style>