<template>
  <div class="card map-list">
    <ul class="list-group list-group-flush">
      <li
          @click="onclick(index)"
          class="list-group-item"
          v-bind:key="index"
          v-for="(site, index) in sites"
      >

        {{ index }} - {{ site.desc }}

      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "MapList",
  props: {
    sites: Object
  },
  data: function () {
    return {
      site: {},
      normalIconSize: [15, 15],
      largeIconSize: [50, 50]
    }
  },
  methods: {
    onclick: function (index) {
      this.$emit('mouse-click-site', index)
    }
  }
}
</script>

<style lang="scss" scoped>
.map-list {
  overflow-y: scroll;
  height: content-box;
  max-height: 400px;

  li {
    &:hover {
      background-color: darkgrey;
    }
  }
}
</style>