<template>
  <div class="row map">
    <l-map :zoom="zoom" :center="center">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <l-marker
          v-bind:key="index"
          v-for="(site, index) in sites"
          :lat-lng="latLng(site)"
      >
      </l-marker>
    </l-map>
  </div>
  <!-- /.row map -->
</template>

<script>
import { LMap, LTileLayer, LMarker } from 'vue2-leaflet';
import L from 'leaflet'
import Education from '../assets/location.png'

export default {
  name: "MapV2Map",
  props: {
    sites: Object
  },
  data: function () {
    return {
      zoom: 8,
      center: L.latLng(50.4000, 2.7167),
      url: 'https://{s}.tile.osm.org/{z}/{x}/{y}.png',
      // url: 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia2FlbHp6IiwiYSI6ImNrb2Ezb2x2MTF2ZnUyeG15andxbG9pMDcifQ.oV4feeKhUSOaXz8BZmviYA',
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      // marker: L.latLng(50.4000, 2.7167),
      icon: Education,
      iconSize: [15,15],
      iconAnchor: [12,25]
    }
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    // LIcon
  },
  methods: {
    latLng: function (site) {
      console.log(site)
      return L.latLng(site.lat, site.lon);
    }
  }
}
</script>

<style lang="scss" scoped>
.map {
  height: 400px;
}
</style>