<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-info">Map List</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <MapList
            @mouseClick="mouseClickSite"
            v-bind:sites="sites"
        />
      </div>
      <div class="col-6">
        <MapV2Map v-bind:sites="sites"/>
      </div>
    </div>
  </div>
</template>

<script>
import MapList from "./MapList";
import MapV2Map from "./MapV2Map";

export default {
  name: "MapV2",
  components: {MapV2Map, MapList},
  data: function () {
    return {
      sites: {}
    }
  },

  mounted() {
    this.sites = {
      "ESIEE": {"lat": 49.900212, "lon": 2.291976, "desc": "Ecole d'ingénieur", 'inconSize': [35, 35]},
      "UFR des Sciences": {"lat": 49.898747, "lon": 2.299508, "desc": "Université pôle scientifique", 'inconSize': [35, 35]},
      "Citadelle": {"lat": 49.904199, "lon": 2.298703, "desc": "BU", 'inconSize': [35, 35]},
    }
  },
  methods: {
    mouseClickSite: function (index) {
      console.log(index + 'mouseOver');
    }
  }
}
</script>

<style lang="scss" scoped>

</style>