<template>
  <div>
    <img alt="Vue logo" src="./assets/logo.png">
    <h3>Map v1</h3>
    <div>
      <Map></Map>
    </div>
    <h3>Map v2</h3>
    <div class="container-fluid">
      <MapV2></MapV2>
    </div>
    <div>
      <footer>test</footer>
    </div>
  </div>
</template>

<script>
import Map from "./components/Map";
import MapV2 from "./components/MapV2";

export default {
  name: 'App',
  components: {
     Map, MapV2
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>